@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300&family=Roboto:ital,wght@0,400;1,300&display=swap');

 body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero-section {
    background-color: #1F2937;
    min-height: 480px; 
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.links ul {
    display: flex;
    gap: 16px;
    padding: 0;
    padding-top: 5px;
}

.links ul li a {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.4s;
}

.links ul li a:hover {
    text-decoration: underline;
     color: bisque;
}

.links ul li {
    list-style-type: none;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8; 
    margin-bottom: -5px;  
}

.hero-text p , .links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    margin-left: 109px;
}

.logo {
    font-size: 20px;
    color: #F9FAF8;
}

.text-and-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
    color: #3882F6;
    background-color: white;
}

.text-and-img img {
    margin-top: 65px;
    width: 390px;
    margin-right: 105.5px;
    border-radius: 10px;
}

.info-section {
    margin-bottom: 60px;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.info-title p {
    font-size: 36px;
    font-weight: 900;
    margin-top: auto;
    padding-top: 65px;
}

.img-container {
    display:flex;
    justify-content: center;
    gap: 82px;
}

.image img {
    width: 230px;
    height:230px;
    border: solid 5px #3882F6;
    border-radius: 12px;
    margin-bottom: 5px;
}

.text {
    text-align: center;
    margin-left: 40px;
}

.image {
    max-width: 200px;
    
}

.quote-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px;
    padding-top: 130px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 1045px;
    margin-bottom: 40px;
    font-family: 'Noto Serif JP', serif;

}

.name {
    font-size: 24px;
    font-weight: 900;
    padding-left: 67%;
    font-family: 'Noto Serif JP', serif;

}